.btn {
    @apply border border-transparent rounded-md ease-in-out transition duration-150 border-gray-500
}

.btn-sm {
    @apply py-2 px-3 text-xs
}

.btn-md {
    @apply py-3 px-4 text-sm
}

.btn-white {
    @apply text-blue-700 bg-white hover:text-indigo-600 hover:border-indigo-300
}

.btn-indigo {
    @apply text-blue-700 bg-indigo-100 hover:text-indigo-600 hover:border-indigo-300
}

.btn-blue {
    @apply bg-blue-500 text-white hover:border-blue-300
}